.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title_name{
  size: 26px;
  color: aliceblue;
}

.body_style{
  position: absolute;
  background: aliceblue;
  min-height: 82%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.style_table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_block{
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10vh;
  background: #282c34;
  width: 60vh;
  height: 80%;
  border-style: double;
  border-color: azure;
  border-width: 5px;
}

.login_btn_now{
  width: 50vh;
  height: 30px;
  margin-top: 10px;
  background-color: #282c34;
  color: aqua;
  border-color: aliceblue;
}

.login_btn{
    width: 30vh;
    height: 30px;
    margin-top: 10px;
    border-style: none;
    background-color: #282c34;
    color: aliceblue;
}

.font_style{
    color: aliceblue;
    text-align-last: justify;
    -moz-text-align-last: justify ;
    text-align: justify;
    text-justify: distribute-all-lines;
    display: block;
    width: 24%;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 8px;
}

input[type=text], select {
  width: 70%;
  max-height: 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}